@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", bold-700;
}
body{
    background: linear-gradient(45deg, #790077, #1d0371);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items:center;
    justify-content: center;
}
main.container{
    background:#ffffff;
    max-width: 400px;
    min-height: 50vh;
    padding: 2rem;
    box-shadow: 10px 10px 20px rgb(0,0,0.2);
    border-radius: 10px;
    
}
main h1{
    font-weight: 800;
    margin-bottom: 2rem;
    position: relative;
}
main h1::before{ /* Pseudocodigo */
    content: '';
    position:absolute;
    height: 2px;
    width: 35px;
    bottom: 3px;
    left: 0;
    border-radius: 10px;
    background-color: rgb(0, 0, 0.7);

}
form{
    display: flex;
    flex-direction: column;
    
}
.input-field{
    position: relative;
}
form .input-field:first-child{
    margin-bottom: 1.5rem;
}
.input-field .underline::before{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}
.input-field .underline::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(45deg, #790077, #1d0371);
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    transform-origin: left;
}
.input-field input:focus ~ .underline::after{
    transform: scaleX(1);
}
.input-field input{
    outline:none;
    padding: 2%;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    
}
.input-field input::placeholder{
    color:  rgba(0, 0, 0, 0.7);
    padding: auto;
}

form input[ type="submit"]{
    margin-top: 2rem;
    padding: 0.4rem;
    background: linear-gradient(to left, rgb(1, 77, 255),rgb(2, 33, 105));
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 6px;
    transition: all 0.3s  ease;
}
form input[type="submit"]:hover{
    letter-spacing: 0.5px;
    background: linear-gradient(to right, rgb(1, 77, 255),rgb(2, 33, 105));
    

}
.footer{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

}
.footer span{
    color: black;
    font-size: 0.8rem;
}
.footer .social-field{
    padding: 0.4rem;
    border-radius: 4px;
    font-size: 0.05rem;
    width: 100%;
    cursor: pointer;
    margin-top: 0.2rem;
}
.footer .social-field a i{
    margin: 0 0.5rem;
    width: 15px;
}
.footer .social-field a{
    text-decoration:none;
    color:white;
    font-size: 10px;
}
.footer .social-field.instagram{
    background:linear-gradient(to right, #ff0073, #ff0026);
}
.footer .social-field.facebook{
    background:linear-gradient(to right, #004c93, #2804f7);
}